<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main_image">
    <div class="myimage1">
        <div class="mybolck">
            <div class="syimage">
                <img class="symage_img" alt="苹果" src="images/mypu4.jpg">
                <i class="syimage_title"><a href="#">---农产品溯源---</a></i>
            </div>
            <div class="syinform" id="productlist">
                <div class="introduce">
                    <span>产品介绍：</span>
                    <span><a href="#" id="productname">苹果（详细信息）</a></span>
                </div>
                <div class="temperature">
                    <span class="tem">温度(℃)：</span>
                    <span class="numtem">xxx</span>
                </div>
                <div class="sunlight">
                    <span>光照强度：</span>
                    <span>xxx</span>
                </div>
                <div class="clear"></div>
                <div class="water">
                    <span>空气湿度：</span>
                    <span>xxx</span>
                </div>
                <div class="pesticide">
                    <span><a href="#">农药使用情况</a></span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
            </div>
            <!-- ---------------------------------------1----------------------------------- -->
            <!--	<div class="mybolck">
                    <div class="syimage1 syimage">
                        <img class="symage_img1 symage_img" alt="苹果" src="images/mypu4.jpg">
                        <i class="syimage_title1 syimage_title"><a href="#">---农产品溯源---</a></i>
                    </div>
                    <div class="syinform">
                        <div class="introduce">
                            <span>产品介绍：</span>
                            <span ><a href="#">苹果（详细信息）</a></span>
                        </div>
                        <div class="temperature">
                            <span class="tem">温度(℃)：</span>
                            <span class="numtem">xxx</span>
                        </div>
                        <div class="sunlight">
                            <span>光照强度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="clear"></div>
                        <div class="water">
                            <span>空气湿度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="pesticide">
                            <span><a href="#">农药使用情况</a></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;2-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
                <div class="mybolck">
                    <div class="syimage2 syimage">
                        <img class="symage_img2 symage_img" alt="苹果" src="images/mypu4.jpg">
                        <i class="syimage_title2 syimage_title"><a href="#">-&#45;&#45;农产品溯源-&#45;&#45;</a></i>
                    </div>
                    <div class="syinform">
                        <div class="introduce">
                            <span>产品介绍：</span>
                            <span ><a href="#">苹果（详细信息）</a></span>
                        </div>
                        <div class="temperature">
                            <span class="tem">温度(℃)：</span>
                            <span class="numtem">xxx</span>
                        </div>
                        <div class="sunlight">
                            <span>光照强度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="clear"></div>
                        <div class="water">
                            <span>空气湿度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="pesticide">
                            <span><a href="#">农药使用情况</a></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;3-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
                <div class="mybolck">
                    <div class="syimage3 syimage">
                        <img class="symage_img3 symage_img" alt="苹果" src="images/mypu4.jpg">
                        <i class="syimage_title3 syimage_title"><a href="#">-&#45;&#45;农产品溯源-&#45;&#45;</a></i>
                    </div>
                    <div class="syinform">
                        <div class="introduce">
                            <span>产品介绍：</span>
                            <span ><a href="#">苹果（详细信息）</a></span>
                        </div>
                        <div class="temperature">
                            <span class="tem">温度(℃)：</span>
                            <span class="numtem">xxx</span>
                        </div>
                        <div class="sunlight">
                            <span>光照强度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="clear"></div>
                        <div class="water">
                            <span>空气湿度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="pesticide">
                            <span><a href="#">农药使用情况</a></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;4-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
                <div class="mybolck">
                    <div class="syimage4 syimage">
                        <img class="symage_img4 symage_img" alt="苹果" src="images/mypu4.jpg">
                        <i class="syimage_title4 syimage_title"><a href="#">-&#45;&#45;农产品溯源-&#45;&#45;</a></i>
                    </div>
                    <div class="syinform">
                        <div class="introduce">
                            <span>产品介绍：</span>
                            <span ><a href="#">苹果（详细信息）</a></span>
                        </div>
                        <div class="temperature">
                            <span class="tem">温度(℃)：</span>
                            <span class="numtem">xxx</span>
                        </div>
                        <div class="sunlight">
                            <span>光照强度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="clear"></div>
                        <div class="water">
                            <span>空气湿度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="pesticide">
                            <span><a href="#">农药使用情况</a></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;5-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
                <div class="mybolck">
                    <div class="syimage5 syimage">
                        <img class="symage_img5 symage_img" alt="苹果" src="images/mypu4.jpg">
                        <i class="syimage_title5 syimage_title"><a href="#">-&#45;&#45;农产品溯源-&#45;&#45;</a></i>
                    </div>
                    <div class="syinform">
                        <div class="introduce">
                            <span>产品介绍：</span>
                            <span ><a href="#">苹果（详细信息）</a></span>
                        </div>
                        <div class="temperature">
                            <span class="tem">温度(℃)：</span>
                            <span class="numtem">xxx</span>
                        </div>
                        <div class="sunlight">
                            <span>光照强度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="clear"></div>
                        <div class="water">
                            <span>空气湿度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="pesticide">
                            <span><a href="#">农药使用情况</a></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="myimage2">
                <div class="mybolck">
                    <div class="syimage8 syimage">
                        <img class="symage_img8 symage_img" alt="苹果" src="images/mypu4.jpg">
                        <i class="syimage_title8 syimage_title"><a href="#">-&#45;&#45;农产品溯源-&#45;&#45;</a></i>
                    </div>
                    <div class="syinform">
                        <div class="introduce">
                            <span>产品介绍：</span>
                            <span ><a href="#">苹果（详细信息）</a></span>
                        </div>
                        <div class="temperature">
                            <span class="tem">温度(℃)：</span>
                            <span class="numtem">xxx</span>
                        </div>
                        <div class="sunlight">
                            <span>光照强度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="clear"></div>
                        <div class="water">
                            <span>空气湿度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="pesticide">
                            <span><a href="#">农药使用情况</a></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;1&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
                <div class="mybolck">
                    <div class="syimage6 syimage">
                        <img class="symage_img6 symage_img" alt="苹果" src="images/mypu4.jpg">
                        <i class="syimage_title6 syimage_title"><a href="#">-&#45;&#45;农产品溯源-&#45;&#45;</a></i>
                    </div>
                    <div class="syinform">
                        <div class="introduce">
                            <span>产品介绍：</span>
                            <span ><a href="#">苹果（详细信息）</a></span>
                        </div>
                        <div class="temperature">
                            <span class="tem">温度(℃)：</span>
                            <span class="numtem">xxx</span>
                        </div>
                        <div class="sunlight">
                            <span>光照强度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="clear"></div>
                        <div class="water">
                            <span>空气湿度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="pesticide">
                            <span><a href="#">农药使用情况</a></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;2-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
                <div class="mybolck">
                    <div class="syimage7 syimage">
                        <img class="symage_img7 symage_img" alt="苹果" src="images/mypu4.jpg">
                        <i class="syimage_title7 syimage_title"><a href="#">-&#45;&#45;农产品溯源-&#45;&#45;</a></i>
                    </div>
                    <div class="syinform">
                        <div class="introduce">
                            <span>产品介绍：</span>
                            <span ><a href="#">苹果（详细信息）</a></span>
                        </div>
                        <div class="temperature">
                            <span class="tem">温度(℃)：</span>
                            <span class="numtem">xxx</span>
                        </div>
                        <div class="sunlight">
                            <span>光照强度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="clear"></div>
                        <div class="water">
                            <span>空气湿度：</span>
                            <span>xxx</span>
                        </div>
                        <div class="pesticide">
                            <span><a href="#">农药使用情况</a></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>	-->
            <!-- -------------------------3---------------------- -->
        </div>
        <div class="clear"></div>
        <div class="sign">
            <div class="sign1"></div>
            <div class="sign2"></div>
        </div>
        <div class="clear"></div>
        <div class="image_buttom">
            <div class="bu1" align="center"><span>1</span></div>
            <div class="bu2" align="center"><span>2</span></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

</body>
</html>